@font-face {
  font-family: "SkyblessingInjeFontTTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/SkyblessingInjeFontTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: "SkyblessingInjeFontTTF";
}
